a {
    font-size: large;
    text-decoration: none;
    color:black;
}

.navbar {
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
}

.seperator {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}
