a {
    font-size: larger;
    text-decoration: none;
    color:black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: pre-wrap;
}

.navbar {
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  
.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}